html,
body {
  height: 100%;
}
.header {
  margin: 6rem 10rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.card-items {
  margin: 0 18rem;
}
